// Header
.header {
  position: relative;
  width: 100%;
  background-color: $color-primary;
}

.logo img {
  margin: calc-em(10px) 0 calc-em(12px);
  width: 100%;
  max-width: 150px;
}
// Nav primary
.nav-primary {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include breakpoint(md) {
    display: flex;
    justify-content: flex-end;
  }
  li {
    flex: 0 0 auto;
  }
  a {
    padding: 0 calc-em(15px);
    color: $color-white;
    font-size: calc-em(18px);
  }
}

// Nav mobile
.nav-mobile,
.nav-toggle {
  @include breakpoint(md) {
    display: none;
  }
}

// Nav mobile wrapper
.nav-mobile {
  opacity: 0;
  visibility: hidden;
  background: $color-gray;
  height: 100%;
  width: 100%;
  //top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  font-size: calc-em(18px);
  text-transform: uppercase;
  z-index: 8000;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  &.nav-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
  }
}
.nav-mobile-wrap {
  margin: calc-em(8px) 0;
  padding: 0;
  list-style-type: none;
  li {
    background-color: darken($color-gray, 3%);
    border-bottom: 2px solid lighten($color-gray, 9%);
    &:nth-child(odd) {
      background-color: lighten($color-gray, 3%);
    }
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    display: block;
    padding: calc-em(15px) 0;
    color: $color-white;
    text-align: center;
  }
}

// nav toggle
$bar-width: 30px;
$bar-height: 5px;
$bar-spacing: 10px;
$height-icon: 25px;
$width-line: 40px;
$height-line: 4px;
$transition-time: 0.25s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

.nav-toggle {
  width: $width-line;
  height: $height-icon;
  position: relative;
  margin: 0;
  cursor: pointer;
  z-index: 99999;
  .line {
    display: block;
    position: absolute;
    left: 0;
    background: $color-white;
    width:$width-line;
    height:$height-line;
    border-radius:($height-line / 2);
    transition: all $transition-time;
    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
    }
    &.line-3 {
      top: 100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
    }
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}
