// Helpers

// Colors: text
.text-white {color: $color-white}
.text-primary {color: $color-primary}
.text-secondary {color: $color-secondary}

// Colors: background
.bg-white {background: $color-white}
.bg-primary {background: $color-white}
.bg-secondary {background: $color-white}

// Layouts
.full-height {
  height: auto;
  @include breakpoint(md) {
    height: 100vh;
  }
}
.vertical-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
